<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/image/blog.png" sizes="96x96" type="image/png">
    <title>Blog</title>
</head>

<body>
    <div class="ui fixed  menu">
        <div class="ui container">
            <div class="header item"><i class="code icon"></i> Blog</div>
            <a href="/" class="item">Home</a>
            <% if(!currentUser) {%>
                <a href="/login" class="item">Login</a>
                <a href="/register" class="item">Register</a>
                <%} else{%>
                    <a href="/blogs/new" class="item">New Post</a>
                    <div class="ui dropdown right item">
                        <span class="text">  
                            <%= currentUser.firstname %> 
                            <%= currentUser.lastname[0] %>. 
                            <i class="user circle icon"></i>
                        </span>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="/account" class="item">Account Info</a>
                            <a href="/postbyme" class="item">My Posts</a>
                            <a href="/logout" class="item">Logout</a>
                        </div>
                    </div>
                    <%}%>
        </div>


    </div>