<%- include('partials/header') %>

    <div class="ui main text container segment">
        <div class="ui huge header">Sign In</div>
        <form class="ui form" action="/login" method="post">
            <div class="field">
                <input type="text" name="username" placeholder="User Name" required>
            </div>
            <div class="field">
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <input class="ui black basic button" type="submit" value="Sign In">
        </form>
        <p>
            <a href="/register">Register</a>
        </p>
    </div>

    <%- include('partials/footer') %>