i.icon {
    font-size: 1.5rem;
}

.container.main {
    margin-top: 7rem;
}

#delForm {
    display: inline;
}

.dis p {
    padding: 1rem 0;
    text-align: justify;
    line-height: 1.8rem;
}

#con {
    margin-top: 1rem;
}

#my {
    margin-bottom: 0;
}

.pag {
    font-size: 1.15rem;
}